NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_MOYASAR_PUBLISHABLE_KEY=
MOYASAR_SECRET_KEY=
MOYASAR_WEBHOOK_SECRET=

VIDEO_API_KEY=
VIDEO_TOKEN_SIGNING_KEY=

EMAIL_API_KEY=

NEXT_PUBLIC_SITE_URL=
